
body {
font-family: 'Poppins', sans-serif;
padding-top: 60px;
}

body.hidden{
  overflow: hidden;
}



/* header */
header .menu_top {
  width: 100%; height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--point-color);
  position: fixed;
  top: 0%; left: 0%; z-index: 10;
  background-color: rgba(255, 255, 255, 0.925); border: 1px solid #eee;
  backdrop-filter: blur(10px);
  transition: all .3s;
}

header .menu_top.fix {
  top: -50px;
}
header .menu_top .menu_bar {margin-left: 10px; font-size: 16px;}
header .menu_top .logo {
  height: 22px; width: 70px;
  background:url("../imgs/Logo.png") no-repeat;
  background-size: 100%; 
}
header .menu_top .logo a {display: block; width: 100%;}
header .menu_top .search {margin-right: 10px; font-size: 16px;}

header .menu_top img {
  width: 15px; height: 15px;
  
}

header .search_bg { 
  position: fixed; top: 0;left: 0; width: 100%; height: 100%;
  z-index: 11;
  background-color: rgb(114, 114, 114,.5);
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}
header .search_bg.on {visibility: visible; opacity: 1;}
header .search_bg .search_wrap {
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 10px 0;
}

header .search_box {
  width: calc(100% - 50px); 
  padding-left: 10px;
  position: relative;

}

header .search_bg .search_wrap .search_close_btn {
  width: 40px; height: 40px; font-weight: 100;
  font-size: 20px;color: var(--letter-color);
}
header .search_bg .search_wrap .search_close_btn img{
  width: 15px; height: 15px;
}
header .search_box [type="text"] {
  width: 100%; height: 40px;
  background: #fff;
  border-radius: 30px; box-sizing: border-box;
  border: 2px solid #ddd;
  padding: 0 2px 0 10px;
  outline: none;
}
header .search_box i {
  font-size: 15px; padding: 5px 0 0;margin-right: 15px; 
  color: var(--point-color);
  position: absolute;
  top: 6px; right: 0;
}


header .search_result_bg {
  width: 100%; background-color: #fff; 
}
header .search_result_bg .search_title {
  font-size: 16px; color: var(--letter-color);
  padding: 10px 0 10px 10px; display: inline-block;
  font-weight: 500; margin-bottom: 15px;
}
header .search_result_bg .swiper-wrapper .swiper-slide {
  width: 80px; 
  border-radius: 10px;
}
header .search_result_bg .swiper{
  padding: 0 10px 30px 10px;
}
header .search_result_bg .swiper-wrapper .swiper-slide img {
  width: 100%; height: 80px; border-radius: 10px;

}
header .search_result_bg .swiper-wrapper .swiper-slide a {
  display: block; 
}
header .search_result_bg .swiper-wrapper .swiper-slide span {
  display: block; margin-top: 10px;  font-size: 11px;
  font-weight: 500; text-align: center; color: var(--letter-color);
}


/* footer */

footer .fixed_menu {
  width:100%; height: 50px; background-color: rgb(255, 255, 255);
  border-top: 1px solid rgb(223, 223, 223); 
  position:fixed; z-index: 13; bottom:0; 
  display: flex;
}
footer .fixed_menu li {
  text-align: center;
  width: 25%; padding: 7px 0;
}
footer .fixed_menu li .logo {
  width: 20px; height: 19px; 
  background-image: url("../imgs/logo3.png"); margin: 0 auto;
  background-repeat: no-repeat; background-size: contain;
}
footer .fixed_menu li em {
  font-size: 10px; color: var(--letter-color);
}
footer .fixed_menu li i {
  display: block;
  color: var(--point-color);
}
footer .menu_profile {
  width: 100%; height: 100%; z-index: 12; 
  transition: all .5s;
  position: fixed; top: 0; background-color: rgb(228, 228, 228);
  visibility: hidden; opacity: 0;
  overflow-y: auto;
  padding-bottom: 50px;
}
footer .menu_profile.on {visibility: visible; opacity: 1;} 
footer .menu_profile .menu_title {
  background-color: #fff;
  display: flex; justify-content: space-between;
  padding: 15px 20px; 
  border-bottom: 1px solid rgb(219, 219, 219); color: #333;
  font-family: 'Poppins', sans-serif; font-size: 18px;font-weight: bold;
}
footer .menu_profile .menu_title img {
  width: 15px; height: 15px;
}
footer .menu_profile .profile {
  background-color: #fff;
  padding: 20px; margin: 0 auto 5px; 
}
footer .menu_profile .profile .user_profile {
  width: 50px; height: 50px; 
  border-radius: 50px;
  float: left; margin-right: 15px;overflow:hidden;
}

footer .menu_profile .profile .user_profile img {width: 100%; height: 100%; object-fit: contain;}

footer .menu_profile .profile .txt_wrap{
  float: left; margin-top: 15px; 
 
}
footer .menu_profile .profile .txt_wrap strong {
  display: block;font-weight: bold; margin-bottom: 5px;
  font-size: 14px; color: #333; font-family: 'Noto Sans KR', sans-serif;
}
footer .menu_profile .profile .txt_wrap em {
 font-size: 13px; color:var(--letter-color);
}

footer .menu_profile .profile .profile_btn {margin: 60px auto 0; }
footer .profile_btn{
  display: block; width: 100%; padding: 12px 0;
  border-radius: 10px; border: 2px solid rgb(219, 219, 219);
  font-size: 13px; text-align: center; font-weight: bold; color:var(--letter-color);
}

footer .menu_profile .quick_btn {
  display: flex; justify-content: space-around;
  width: 70%; margin: 10px auto 0; text-align: center;
}
footer .menu_profile .quick_btn li {width: calc(100%/3);}
footer .menu_profile .quick_btn li div{ 
  width: 50px; height: 50px;border-radius: 50px;
  margin: 0 auto; background-color: #fcd8d9;
}
footer .menu_profile .quick_btn li div i {
  display: block; font-size: 20px;padding: 15px; color: var(--point-color);
}

footer .menu_profile .quick_btn li em {
  display: block; font-size: 12px; margin-top: 5px;
}

.menu_profile .menu_profile_list {
  width: 100%; padding: 0 20px; background-color: #fff;
  border-top: 1px solid rgb(219, 219, 219);
}

.menu_profile .menu_profile_list li {
  padding: 15px 0; color: var(--letter-color);
}
.menu_profile .menu_profile_list li i {
  margin-right: 10px;
}

